window {
    margin: 25px;
    padding: 25px;
    border: 3px solid #e78a4e;
    border-radius: 8px;
    background-color: #1d2021;
}

#input {
    margin: 5px;
    border: 2px;
    border: 2px solid #e78a4e;
    color: #89b482;
    background-color: #1d2021;
}

#inner-box {
    margin: 5px;
    border: 3px;
    background-color: #1d2021;
}

#outer-box {
    margin: 5px;
    border: 3px;
    background-color: #1d2021;
}

#scroll {
    margin: 5px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #d4be98;
}

#entry:selected {
    background-color: #282828;
}
