window {
    /* margin: 5px;
    padding: 5px; */
    border: 3.5px solid #c0caf5;
    border-radius: 3px;
    background-color: #15151c;
    corner-radius: 10;
}

#input {
    margin: 5px;
    border: 3px;
    border: 2px solid #c0caf5;
    color: #acb0d0;
    background-color: #1a1b26;
}

#inner-box {
    margin: 5px;
    border: solid;
    background-color: #15151c;
}

#outer-box {
    margin: 5px;
    border: solid;
    background-color: #15151c;
}

#scroll {
    margin: 5px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #acb0d0;
}

#entry:selected {
    background-color: #1a1b26;
}
